/*SCREEN_1
LOCATION / TYPE OF BIKE / SKILLS
*/
.location .type-of-bike .skills {
    height: 91px;
    position: relative;
    width: 336px;
}
.location .button-default.skills {
    align-items: flex-start;
    background-color: #1b1b1b;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    padding: 24px;
    position: relative;
    width: 336px;
}
.location .text-wrapper .kills {
    align-self: stretch;
    color: #ffffff;
    font-family: "Bayon-Regular", Helvetica, serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.41px;
    line-height: normal;
    margin-top: -1px;
    opacity: 0.4;
    position: relative;
    text-align: center;
}

/*SCREEN_1
LETS'S START
*/

.let-sstart {
    height: 100px;
    width: 335px;
}

.let-sstart .element-wrapper {
    height: 100px;
}

.let-sstart .element {
    align-items: flex-start;
    background-color: #1b1b1b;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100px;
    overflow: hidden;
    padding: 24px 0px 24px 24px;
    position: relative;
    width: 335px;
}

.let-sstart .text-wrapper {
    -webkit-text-stroke: 1px #353535b2;
    color: #67bf00;
    font-family: "Bayon-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.41px;
    line-height: normal;
    margin-bottom: -4px;
    margin-left: -1px;
    margin-top: -2px;
    opacity: 0.4;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 4px #00000040;
    width: 289px;
}
